services:
  - type: web
    name: emart-api
    runtime: node
    buildCommand: npm install
    startCommand: npm run start
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      - key: CORS_ORIGIN
        value: https://ecommerce-roan-sigma.vercel.app
